[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/pack/plugins/start/vim-javascript-syntax"]
	path = vim/pack/plugins/start/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "vim/pack/plugins/start/vim-atom-dark"]
	path = vim/pack/plugins/start/vim-atom-dark
	url = git@github.com:gosukiwi/vim-atom-dark.git
[submodule "vim/pack/plugins/start/vim-less"]
	path = vim/pack/plugins/start/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-nerdtree-tabs"]
	path = vim/pack/plugins/start/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/pack/plugins/denite.nvim"]
	path = vim/pack/plugins/start/denite
	url = git@github.com:Shougo/denite.nvim.git
[submodule "vim/pack/plugins/start/syntastic"]
	path = vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
